@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lora", serif !important;
}

html,
body {
  font-family: "Lora", serif;
  font-size: 20px;
}
